.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff33;
  width: 100%;
  max-width: 800px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  margin-right: 10px;
}

.logo-title {
  color: #ffffff;
  font-size: 20px;
}

.scores-container {
  display: flex;
  gap: 20px;
}

.score {
  color: #ffffff;
  font-size: 18px;
}